
@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Niti.</a>
        <button class="navbar-toggler" type="button" id="navbarToggler2" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="#" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="#gioithieu" class="nav-link">Giới thiệu</a></li>
                <li class="nav-item"><a href="#dichvu" class="nav-link">Dịch vụ</a></li>
                <!--<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                      <a class="dropdown-item" href="portfolio.html">Portfolio</a>
                      <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#web1trang" class="nav-link">Case Studies</a></li> -->
                <li class="nav-item"><a href="#lienhe" class="nav-link">Liên hệ</a></li>
                <!--<li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Chi tiết</span></a></li> -->
            </ul>
        </div>
    </div>
</nav>

<div id="body-main">
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        Cung cấp  <strong>Miễn phí</strong> websites 1 trang
                    </h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <a id="aWeb1Trang" href="#web1trang" class="btn btn-primary btn-outline-white px-5 py-3">
                            Chi tiết
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <section class="ftco-section-featured ftco-animate">
            <div class="container-fluid" data-scrollax-parent="true">
                <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

                    <div class="col-md-3 mb-3">
                        <a  class="featured-img">
                            <div class="text-1 p-4 d-flex align-items-center">
                                <h3>Công việc<br><span class="tag">Website</span></h3>
                            </div>
                            <img src="images/image_1.jpg" class="img-fluid" alt="">
                            <div class="text p-4 d-flex align-items-center">
                                <div class="user d-flex align-items-center">
                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="row no-gutters d-flex align-items-end">

                                    <div class="col-md-8">
                                        <a  class="featured-img">
                                            <div class="text-1 p-4 d-flex align-items-center">
                                                <h3>Tri thức<br><span class="tag">Website</span></h3>
                                            </div>
                                            <img src="images/image_5.jpg" class="img-fluid" alt="">
                                            <div class="text p-4 d-flex align-items-center">
                                                <div class="user d-flex align-items-center">
                                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4">
                                        <a  class="featured-img">
                                            <div class="text-1 p-4 d-flex align-items-center">
                                                <h3>Tầm nhìn<br><span class="tag">Website</span></h3>
                                            </div>
                                            <img src="images/image_4.jpg" class="img-fluid" alt="">
                                            <div class="text p-4 d-flex align-items-center">
                                                <div class="user d-flex align-items-center">
                                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row no-gutters d-flex align-items-start">
                                    <div class="col-md-8">
                                        <a  class="featured-img">
                                            <div class="text-1 p-4 d-flex align-items-center">
                                                <h3>Thức tỉnh<br><span class="tag">Website</span></h3>
                                            </div>
                                            <img src="images/image_6.jpg" class="img-fluid" alt="">
                                            <div class="text p-4 d-flex align-items-center">
                                                <div class="user d-flex align-items-center">
                                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a  class="featured-img">
                                            <div class="text-1 p-4 d-flex align-items-center">
                                                <h3>Lung linh<br><span class="tag">Website</span></h3>
                                            </div>
                                            <img src="images/image_3.jpg" class="img-fluid" alt="">
                                            <div class="text p-4 d-flex align-items-center">
                                                <div class="user d-flex align-items-center">
                                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <a  class="featured-img">
                            <div class="text-1 p-4 d-flex align-items-center">
                                <h3>Ẩm thực<br><span class="tag">Website</span></h3>
                            </div>
                            <img src="images/image_2.jpg" class="img-fluid" alt="">
                            <div class="text p-4 d-flex align-items-center">
                                <div class="user d-flex align-items-center">
                                    <div class="user-img mr-3" style="background-image: url(images/logoniti.png);"></div>
                                    <h3>Niti Nguyen <br><span class="position">Designer</span></h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="row mt-5 d-flex justify-content-center">
                    <div class="col-md-8 text-center heading-section ftco-animate">
                        <h2 class="h1">Chuyên thiết kế <strong class="px-3">Web designer</strong> với hơn nhiều năm kinh nghiệm designing websites và mobile apps.</h2>
                        <p><a href="#sodienthoai" class="btn btn-primary mt-3 py-3 px-5">Gọi cho tôi</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="gioithieu" class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-6 text-center heading-section ftco-animate">
                    <span class="subheading">Dịch vụ</span>
                    <h2 class="mb-4">Web &amp; Mobile app design, tất cả phần mềm quản lý</h2>
                    <p>Chúng tôi tư vấn, hỗ trợ tất cả miễn phí đến khi bạn hài lòng</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center icon-lightbulb-o"></span></div></div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Tư vấn</h3>
                            <p>Tư vấn cho bạn thiết kế web, tất cả phần mềm quản lý, đều miễn phí.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-laptop"></span></div></div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Thiết kế</h3>
                            <p>Thiết kế theo ý tưởng riêng của bạn, hoặc có sẵn cho bạn chọn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center icon-gear"></span></div></div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Phát triển</h3>
                            <p>Phát triển thêm nội dung cũ của bạn có sẵn hoặc mới.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center icon-live_help"></span></div></div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Trợ giúp &amp; Hướng dẫn</h3>
                            <p>Chúng tôi hỗ trợ, giúp bạn đến khi bạn hài lòng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- END nav -->
<!-- <div class="js-fullheight"> -->

<section class="ftco-section-parallax">
    <div id="sodienthoai" class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Gọi cho tôi để hiểu rõ hơn 0967.072.666</h2>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Công việc</span>
                <h2 class="mb-4">Các dịch vụ của chúng tôi.</h2>
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="block-3 d-md-flex ftco-animate wow fadeInUp" data-scrollax-parent="true" data-wow-duration="1s" data-wow-delay="0.3s">
                <a  class="image" style="background-image: url('images/work-1.jpg'); " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
                <div id="web1trang" class="text">
                    <h4 class="subheading">Thiết kế Web miễn phí</h4>
                    <h2 class="heading"><a href="#">Chúng tôi miễn phí thiết kế Web 1 trang cho bạn</a></h2>
                    <p>Bạn chỉ cần có nhu cầu, bạn cung cấp thông tin của bạn cho tôi. Tôi bắt đầu tư vấn, hỗ trợ bạn đến khi hoàn thành. </p>
                    <p>
                        <a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi   </a>       
                        <a href="/productcatelog" class="btn btn-primary px-4">Chi tiết mẫu </a>
                    </p>
                   
                </div>
            </div>
            <div id="dichvu" class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true" data-wow-duration="1s" data-wow-delay="0.3s">
                <a class="image image-2 order-2" style="background-image: url('images/work-2.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
                <div class="text order-1">
                    <h4 class="subheading">Phát triển phần mềm</h4>
                    <h2 class="heading"><a href="#">Chúng tôi nhận phát triển phần mềm quản lý mới hoặc cũ</a></h2>
                    <p>Chúng tôi có kinh nghiệm nhiều năm trong việc phát triển phần mềm quản lý, chúng tôi mong muốn hợp tác cùng với bạn, giúp bạn, hỗ trợ bạn, hoàn thiện ý tưởng của bạn.</p>
                    <p><a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi</a></p>
                </div>
            </div>
            <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true" data-wow-duration="1s" data-wow-delay="0.3s">
                <a  class="image" style="background-image: url('images/work-3.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
                <div class="text">
                    <h4 class="subheading">Tư vấn miễn phí</h4>
                    <h2 class="heading"><a href="#">Hoàn toàn miễn phí tư vấn cho bạn</a></h2>
                    <p>Đây là điểm đặc biệt của chúng tôi, không ngại tư vấn, hỗ trợ bạn, miễn bạn có cây bất kỳ câu hỏi, bất kỳ thắc mắc nào liên quan đến phát triển phần mềm.</p>
                    <p><a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi</a></p>
                </div>
            </div>
        </div>
        <!--<div class="row">
          <div class="col-md-12 text-center">
            <span><a href="#" class="btn btn-primary py-3 px-5">View All Projects</a></span>
          </div> -->
    </div>
</section>
