
<div id="modal-In-HoSoNhanVien" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" id="divInGiayDiDuong2">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="table-responsive" id="table-responsiveInGiayDiDuong2">
                       
                        <table id="tblInGiayDiDuong2" border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border: 1px solid black  '>
                            
                            <tbody id="tblContenInGiayDiDuong2"></tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <script id="table-InGiayDiDuong2" type="x-tmpl-mustache">
                <div class=WordSection1>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span >	</span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{SoGDD}}
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span > </span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{Ten}}
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{ChucVu}}
                        </span>
                        <span style='font-size:21.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-top:.1in;margin-right:0in;margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{CongTacTai}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{LyDo}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{TuNgay}}
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{DenNgay}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal style='margin-top:188.4pt;margin-right:0in;margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{SoGDD}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-top:11.4pt;margin-right:0in;margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{Ten}}
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span >  </span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{ChucVu}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal style='margin-top:.9pt;margin-right:0in;margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{CongTacTai}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{LyDo}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-top:.9pt;margin-right:0in;margin-bottom:0in;		margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{TuNgay}}
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                            {{DenNgay}}
                        </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-top:20.3pt;margin-right:0in;margin-bottom:	0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                        06
                            </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                        01
                            </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif"'>
                            <span ></span>
                        </span>
                        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:black'>
                        20
                            </span>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";color:black'><o:p></o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal;'>
                        <span style='font-size:17.0pt;font-family:"Arial","sans-serif";	color:black'><o:p>&nbsp;</o:p>
                        </span>
                    </p>
                </div>
            </script>
        </div>
        <div class="modal-content" id="editorPDF"></div>
    </div>
</div>