<div id="modal-add-edit-QuaTrinhXuLy" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Quá trình xử lý văn bản đến </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainQuaTrinhXuLy">
                        <input type="hidden" id="hidVanBanDenId" value="" />

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lbFileVanBan">Chọn file văn bản đến </label>
                                <div id="imagelistFileVanBanDen" class="col-md-12">
                                </div>
                                <div class="input-group">
                                    <input type="file" id="fileFileVanBanDen" />
                                </div>
                            </div>
                        </div>

                    

                    </form>
                </div>
                <div class="ln_solid"></div>

            </div>
        </div>
    </div>
</div>