

<div class="row">
    <div class="x_panel">
        <div class="row no-print">
            <div class="col-sm-12" style="text-align: center">
                <button type="button" id="btnTimDaDuyet" class="btn btn-default" style="color:#3498db;border-color:#3498db">Tìm văn bản</button>
            </div>
        </div>
        <br />

    </div>
</div>