


<div class="row">
    <div class="x_panel">
        <div class="row no-print">
            <div class="col-sm-12" style="text-align: center">
                <button type="button" id="btnTimDaThucHien" class="btn btn-default" style="color:#26b99a;border-color:#26b99a">Tìm văn bản</button>
            </div>
        </div>
        <br />
        
    </div>
</div>