<div id="modal-add-edit-EmailSent" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Soạn Email nội bộ  </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainEmailSent">
                        <input type="hidden" id="hidEmailSentId" value="" />

                        <input type="hidden" id="hidInsertEmailSentId" value="" />


                    </form>
                    <partial name="_SentFile.cshtml" />
                </div>
                <div class="ln_solid"></div>

                
            </div>
        </div>
    </div>
</div>
