@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{

    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/hopdong/index.js" asp-append-version="true"></script>
    <script>
        var hopdong = new hopdongController();
        hopdong.initialize();
    </script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Hộp đồng </h3>
        </div>
        <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-success" id="btn-create" type="button">Tạo mới</button>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="x_content">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small>Danh sách Hợp đồng</small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Từ khóa...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Tìm!</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <select id="ddlKhuVuc" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <select id="ddlPhongBan" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="x_panel">
                    <div class="table-responsive">
                        <table id="tbl-HopDong" class="table table-striped jambo_table bulk_action" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Số hợp đồng</th>
                                    <th>Loại hợp đồng</th>
                                    <th>Hệ số</th>
                                    <th>Lương cơ bản</th>
                                    <th>Ngày hiệu lực</th>
                                    <th>Ngày hết hạn</th>
                                    <th>    </th>
                                </tr>
                            </thead>
                            <tbody id="tbl-contentHopDong"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddl-show-page">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        dòng/trang.
                                    </span>
                                    Tổng cộng: <strong id="lbl-total-records"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="table-HopDong" type="x-tmpl-mustache">
        <tr>
            <td>{{UserName}}</td>
            <td>{{FullName}}</td>
            <td>{{{Avatar}}}</td>
            <td>{{{DateCreated}}}</td>
            <td>{{{DateCreated}}}</td>
            <td>{{{DateCreated}}}</td>
            <td>     </td>
        </tr>
    </script>
</div>

@Html.Partial("_AddEditModel.cshtml")