
<div id="modal-add-edit-VBDChoPhatHanh" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xử lý Văn bản đến - Chờ phát hành</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainVBDChoPhatHanh">
                       
                        <input type="hidden" id="hidVanBanDenId" value="" />

                        
                    </form>
                </div>
                <div class="ln_solid"></div>

            </div>
        </div>
    </div>
</div>