@section Scripts{    

    <script src="~/admin-app/controllers/home/index.js" asp-append-version="true"></script>
    <script>
        var homeObj = new homeController();
        homeObj.initialize();
    </script>

}

<h2>Index</h2>

