
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Niti | Tạo web 1 trang miễn phí</title>
    <meta name="description" content="Niti App | Tạo web 1 trang miễn phí | Phần mềm Quản lý theo nhu cầu">
    <meta name="keywords" content="Niti App | Tạo web 1 trang miễn phí | Phần mềm Quản lý chuyên nghiệp" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="images/nitilogo2.ico" />

    <!--<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet"> -->
    <!--====== Font Awesome CSS ======-->

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />    
    <link href="~/css/flaticon.css" rel="stylesheet" />   
    <link href="~/css/icomoon.css" rel="stylesheet" /> 
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Niti.</a>
            <button class="navbar-toggler" type="button" id="navbarToggler2" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item"><a href="#gioithieu" class="nav-link">Giới thiệu</a></li>
                    <li class="nav-item"><a href="#dichvu" class="nav-link">Dịch vụ</a></li>
                    <!--<li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                          <a class="dropdown-item" href="portfolio.html">Portfolio</a>
                          <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Case Studies</a></li> -->
                    <li class="nav-item"><a href="#lienhe" class="nav-link">Liên hệ</a></li>
                    <!--<li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Chi tiết</span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- END nav -->
    <!-- <div class="js-fullheight"> -->
    
    <section class="ftco-section-parallax">
        <div id="sodienthoai" class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Gọi cho tôi để hiểu rõ hơn 0967.072.666</h2>
                        <p> </p>
                        <!--<div class="row d-flex justify-content-center mt-5">
                          <div class="col-md-6">
                            <form action="#" class="subscribe-form">
                              <div class="form-group">
                                <span class="icon icon-paper-plane"></span>
                                <input type="text" class="form-control" placeholder="Enter email address">
                              </div>
                            </form>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Công việc</span>
                    <h2 class="mb-4">Các dịch vụ của chúng tôi.</h2>
                    <p> </p>
                </div>
            </div>
            <div class="row">
                <div class="block-3 d-md-flex ftco-animate wow fadeInUp" data-scrollax-parent="true" data-wow-duration="1s" data-wow-delay="0.3s">
                    <a href="#" class="image" style="background-image: url('images/work-1.jpg'); " data-scrollax=" properties: { translateY: '-20%'}">
                    </a>
                    <div id="web1trang" class="text">
                        <h4 class="subheading">Thiết kế Web miễn phí</h4>
                        <h2 class="heading"><a href="#">Chúng tôi miễn phí thiết kế Web 1 trang cho bạn</a></h2>
                        <p>Bạn chỉ cần có nhu cầu, bạn cung cấp thông tin của bạn cho tôi. Tôi bắt đầu tư vấn, hỗ trợ bạn đến khi hoàn thành. </p>
                        <p>
                            <a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi</a>
                        </p>
                    </div>
                </div>
                <div id="dichvu" class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="#" class="image image-2 order-2" style="background-image: url('images/work-2.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text order-1">
                        <h4 class="subheading">Phát triển phần mềm</h4>
                        <h2 class="heading"><a href="#">Chúng tôi nhận phát triển phần mềm quản lý mới hoặc cũ</a></h2>
                        <p>Chúng tôi có kinh nghiệm nhiều năm trong việc phát triển phần mềm quản lý, chúng tôi mong muốn hợp tác cùng với bạn, giúp bạn, hỗ trợ bạn, hoàn thiện ý tưởng của bạn.</p>
                        <p><a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi</a></p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="#" class="image" style="background-image: url('images/work-3.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text">
                        <h4 class="subheading">Tư vấn miễn phí</h4>
                        <h2 class="heading"><a href="#">Hoàn toàn miễn phí tư vấn cho bạn</a></h2>
                        <p>Đây là điểm đặc biệt của chúng tôi, không ngại tư vấn, hỗ trợ bạn, miễn bạn có cây bất kỳ câu hỏi, bất kỳ thắc mắc nào liên quan đến phát triển phần mềm.</p>
                        <p><a href="#sodienthoai" class="btn btn-primary px-4">Gọi cho tôi</a></p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
              <div class="col-md-12 text-center">
                <span><a href="#" class="btn btn-primary py-3 px-5">View All Projects</a></span>
              </div> -->
        </div>        
    </section>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <!--<div class="row mb-12" >
                <div class="container">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                      <h2>0967.072.666</h2>
                      <p> </p>
                    </div>
                  </div>
                </div>
            </div> -->
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Niti.</h2>
                        <p>Luôn luôn đồng hành cùng các bạn, phát triển tất cả các ý tưởng của bạn.</p>
                    </div>
                </div>
                <!--<div class="col-md">
                  <div class="ftco-footer-widget mb-4 ml-5">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">Home</a></li>
                      <li><a href="#" class="py-2 d-block">Case studies</a></li>
                      <li><a href="#" class="py-2 d-block">Services</a></li>
                      <li><a href="#" class="py-2 d-block">Portfolio</a></li>
                      <li><a href="#" class="py-2 d-block">About</a></li>
                      <li><a href="#" class="py-2 d-block">Contact</a></li>
                    </ul>
                  </div>
                </div> -->
                <div id="lienhe" class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thông tin liên lạc</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Thành phố Long Xuyên, tỉnh An Giang</a></li>
                            <li><a href="#" class="py-2 d-block">+ 0967.072.666</a></li>
                            <li><a href="#" class="py-2 d-block">nitiappti@gmail.com</a></li>

                        </ul>
                    </div>
                </div>
                <!--<div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                  </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Nitiapp
                        <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!--====== BACK TOP TOP PART START ======-->
    <a href="#" class="back-to-top"><i class="icon-arrow-up"></i></a>
    <!--====== BACK TOP TOP PART ENDS ======-->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>


    <script src="~/js/particles.min.js"></script>
    <script src="~/js/particle.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <!--
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>-->
    <!--====== WOW js ======-->

    <script src="~/js/wow.min.js" ></script>

    <script src="~/js/main.js" asp-append-version="true"></script>
</body>
</html>